#Mac OS X Files
.DS_Store

#Eclipse files
.classpath
.project
.settings

#Maven files
target/**/*
target/*

webtest-sample.iws

webtest-sample.ipr

webtest-sample.iml

.gitignore

.gitignore

src/test/java/com/dynacrongroup/sample/ATest.java

webtest-quickstart.iml

atlassian-ide-plugin.xml

chromedriver.log
